/* cart */
.cart {
  border: 3px solid var(--color_header);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 200px;
  right: 50px;
  top: 50px;
  background-color: #fff;
  padding: 20px;
  display: none;
}

.cart-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.cart-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--color_subtle);
}

.cart-item-wrap {
  display: flex;
}
.checkout-button {
  background-color: var(--color_yellow);
  color: var(--color_header);
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px auto;
  font-size: 1em;
}

.total {
  /* padding: 5px 0; */
  /* margin: auto; */
  text-align: right;
  font-weight: bold;
  font-size: 1em;
}

.price {
  font-weight: bold;
}

.product-name {
  text-decoration: underline;
}

#bin {
  color: var(--color_header);
  font-size: 18px;
  grid-column: 3;
  text-align: right;
  margin-bottom: 10px;
}
