/* cart */
.cart {
  border: 3px solid var(--color_header);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  position: absolute;
  right: 3%;
  top: 10%;
  background-color: #fff;
  padding: 20px;
  display: none;
  /* max-height: 50vh;
  flex-wrap: wrap; */
}

.cart-image {
  /* width: 60px; */
  border-radius: 5%;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.cart-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--color_subtle);
  /* max-height: 50vh;
  flex-wrap: wrap; */
}

.product-description {
  border: none;
  flex: 1;
}
.cart-item {
  display: flex;
  align-items: center;
}
.checkout-button {
  background-color: var(--color_yellow);
  color: var(--color_header);
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px auto;
  font-size: 1em;
}

.total {
  /* padding: 5px 0; */
  /* margin: auto; */
  text-align: right;
  font-weight: bold;
  font-size: 1em;
}

.price {
  /* font-weight: bold; */
  margin-bottom: 10%;
  font-size: 1em;
}

/* .product-name {
  text-decoration: underline;
} */

.trash {
  color: var(--color_header);
  font-size: 1em;
  text-align: right;
  background-color: white;
  border: none;
}

.fa-trash {
  text-align: right;
}
.fa-trash:hover {
  color: grey;
}

.product-image-cart {
  border-radius: 5%;
  max-width: 80%;
  margin: auto;
}

/* .trashContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
} */
