.wrapper {
  display: flex;
}

.order_summary.checkout {
  grid-row: 4;
  display: flex;
  flex-direction: column;
}

.section_form {
  grid-row: 4/6;
}

#checkoutButton {
  display: none;
}

.close-button {
  display: none;
}
