@import url(my_bag.css);

.form {
  grid-column: 1;
  grid-row: 3/5;
}

.order_summary {
  grid-column: 2;
  grid-row: 3/4;
  border: solid 1px grey;
  padding: 20px;
  margin-top: 33px;
}

.product_img {
  grid-column: 1/4;
  align-self: center;
  max-width: 50%;
}

legend {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  border-style: solid;
  width: 70%;
  min-height: 23px;
}

.cta {
  margin: 20px auto;
}
