/* @import url(checkout.css); */

.thank_you {
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  grid-row: 3;
}

.order_summary.delivery {
  grid-column: 1;
}

.product_img {
  max-width: 100%;
  grid-column: 3;
  grid-row: 2/5;
  align-self: left;
}

.order_summary.delivery {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#support {
  grid-column: 1/3;
}

.order_summary {
  grid-column: 2;
}

.cta {
  grid-column: 1/3;
  grid-row: 5;
  padding: 10px 60px;
}
