/* @import url(checkout.css); */

.thank_you {
  font-size: 1.3rem;
  grid-row: 3;
  margin-bottom: 30px;
}

.order_summary.delivery {
  grid-column: 1;
}

.order_summary.delivery {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#support {
  grid-column: 1/3;
}

.order_summary {
  grid-column: 2;
}

.cta {
  grid-column: 1/3;
  padding: 10px 60px;
  margin: 30px auto;
}
