.corporate_info {
  border: var(--color_subtle) 2px solid;
  padding: 30px;
}

#address {
  margin: 20px auto;
}

.map {
  margin-top: 20px;
  max-width: 80%;
}
#message {
  min-height: 100px;
  min-width: 80%;
}

.cta {
  margin: 20px auto;
  max-height: none;
}
