@media (min-width: 550px) {
  /* home page */

  .header-right {
    right: 10%;
  }

  #search_icon:active ~ #search {
    max-width: none;
  }

  .index_main {
    max-width: 100%;
    padding: 0pt;
  }

  .welcome {
    min-height: 70vh;
    background-position-y: 30%;
  }

  .featured_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* products */

  .featured_products {
    grid-template-columns: 1fr 1fr;
  }

  /* about */

  .brand {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .about_container {
    background-size: 50%;
  }
}

@media (min-width: 900px) {
  p {
    font-size: 18px;
  }

  h3 {
    font-size: 22px;
  }

  .logo {
    position: absolute;
    left: 5%;
  }

  nav {
    position: absolute;
    left: 15%;
    top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
  }

  #hamburger-icon {
    display: none;
  }

  #search {
    display: inline-block;
    padding: 5px;
  }

  #search_icon {
    position: absolute;
    right: 5%;
    color: var(--color_header);
  }

  .search_container {
    display: flex;
    position: relative;
    align-items: center;
  }

  .welcome h1 {
    font-size: 3.2em;
  }
  .welcome h2 {
    font-size: 1.8em;
    font-weight: normal;
  }

  .featured_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  /* products page */
  .featured_products {
    grid-template-columns: repeat(3, 1fr);
  }

  .main_column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto;
    gap: 0 50px;
    max-width: 800px;
  }
}
