.two_columns_main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.two_columns_main > * {
  border: var(--check_border);
}

/* h1 {
  grid-row: -1/1;
} */

.product_img {
  max-width: 100%;
}
