.featured_products {
  display: grid;
  gap: 60px;
}

.product {
  max-width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.product_image {
  max-width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  flex: 2;
}

.product_descript {
  position: relative;
  border: grey solid 1px;
  padding: 10px 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.product_name {
  font-size: 1.1em;
  font-family: var(--font_h1);
  text-decoration: none;
  color: var(--color_header);
  font-weight: bold;
  text-transform: uppercase;
}

.heart {
  position: absolute;
  right: 10px;
  top: 15px;
  border: none;
  background: var(--color_white);
}

.heart:active {
  color: salmon;
}

.find_out {
  text-align: right;
  color: var(--color_blue);
}

.price {
  text-align: right;
  margin-right: 20px;
}

.cta {
  margin: 10px;
  padding: 5px;
  font-size: 0.8rem;
}
