/* @import "../CSS/styles.css"; */

h1 {
  grid-row: -1/1;
}

.featured_products {
  display: grid;
  grid-template-columns: 1;
  gap: 20px;
  border: var(--check_border);
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  /* max-height: 300px; */
  margin-top: 20px;
}

.product_image {
  max-height: 400px;
  overflow: hidden;
  flex: 3;
}

.product_descript {
  position: relative;
  border: grey solid 1px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  flex: 1;
}

.product_name {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--color_header);
  font-weight: bold;
  text-transform: uppercase;
}

.heart {
  position: absolute;
  right: 10px;
  top: 15px;
  border: none;
  background: var(--color_white);
}

.heart:active {
  color: salmon;
}

.price {
  position: absolute;
  left: 10px;
  top: 35px;
}

.seasons {
  position: absolute;
  left: 100px;
  top: 35px;
}
