h1 {
  margin: 0;
}

.rating {
  color: rgb(224, 224, 53);
  text-align: right;
}
.rating p {
  color: grey;
  display: inline-block;
  margin-left: 5px;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.price {
  font-weight: bold;
  font-size: 1rem;
  text-align: right;
}

.product_img {
  margin: 10% auto;
  max-width: 100%;
}

.product_img.one {
  grid-column: 1;
  grid-row: 3;
  max-width: 70%;
  align-self: center;
  margin: 0 auto;
}

.product_img.two {
  grid-column: 2;
  grid-row: 5;
}

.product_img.three {
  grid-column: 2;
  grid-row: 6;
}
.product_name_container {
  grid-column: 1;
  grid-row: 2;
  margin: 0 auto;
}
.product-details {
  grid-column: 2;
  grid-row: 2/4;
}

.color_size_container {
  grid-column: 1;
  grid-row: 4;
}

.specifications {
  margin-top: 50px;
  grid-column: 1;
  grid-row: 3;
}

.spec_container {
  margin-top: 5px;
  display: flex;
}

.spec_container h3 {
  width: 60px;
  /* font-size: 1rem; */
  flex: 2;
  font-family: var(--font_h1);
  /* text-align: right; */
  /* margin-right: 30px; */
}

/* .spec_container > * {
  flex: 3;
} */

.cta {
  margin: 20px 10px;
  grid-column: 2;
  grid-row: 4;
}

h2 {
  text-align: center;
  margin: 30px auto;
}

.container-text {
  margin: 20px auto;
}

.container-text.one {
  grid-column: 1;
  grid-row: 5;
}
.container-text.two {
  grid-column: 1;
  grid-row: 6;
}
