h1 {
  margin-bottom: 0;
}

.rating {
  color: rgb(224, 224, 53);
  text-align: right;
}

.rating p {
  color: grey;
  display: inline-block;
  margin-left: 5px;
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}

.product_img.one {
  max-width: 70%;
}

.product_img.three {
  max-width: 60%;
  margin-top: 30px;
}

.product_name_container {
  margin: 0 auto;
}

.color_size_container {
  margin-top: 30px;
}

.product-details {
  grid-column: 2;
  grid-row: 2/4;
}

.spec_container {
  display: flex;
  margin-bottom: 15px;
}

.spec_container h3 {
  width: 60px;
  flex: 2;
  font-family: var(--font_p);
  font-weight: bold;
  margin: 0;
}

h2 {
  margin: 30px auto;
}

.container-text {
  margin: 30px auto;
}

.form {
  border: none;
}

label {
  font-size: 20px;
}

.cta.specific {
  margin: 30px 0;
}

.heart {
  border: none;
  background: none;
  /* background: var(--color_white); */
  font-size: 20px;
  grid-row: 1;
  grid-column: 2;
  align-self: start;
  text-align: right;
}

.heart:hover {
  color: salmon;
}
