.featured_products {
  display: grid;
}

.product {
  margin: 20px 40px;
}

.product_description {
  border: var(--border_subtle);
  padding: 10px 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.product_name {
  text-decoration: none;
  color: var(--color_header);
  font-weight: bold;
  text-transform: uppercase;
}

.heart {
  border: none;
  background: var(--color_white);
  font-size: 20px;
}

.heart:active {
  color: salmon;
}

.seasons {
  text-align: right;
  margin-right: 10px;
  grid-column: 1;
}

.cta {
  margin: 10px;
  padding: 5px;
  font-size: 0.8rem;
  grid-column: 1/3;
}
