body {
  font: 16px var(--font_p);
  margin: 0 auto;
  color: var(--color_header);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10%;
  /* min-height: 100vh; */
  align-content: flex-start;
}

.main_column {
  max-width: 400px;
}

.breadcrumb {
  padding: 20px 0;
  /* grid-row: 1; */
  grid-column: 1/3;
}

.breadcrumb a,
.breadcrumb p {
  text-decoration: none;
  color: grey;
  display: inline-block;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0pt;
}

h1 {
  font-size: 1.5rem;
  margin: 10px 0;
  max-width: 100%;
  grid-column: 1/3;
  grid-row: 2;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-family: var(--font_h1);
}
p {
  margin: 0;
}

/* images */
img {
  width: 100%;
}

.product_img {
  margin: 0 auto;
}
/* CTA button */
.cta {
  text-decoration: none;
  background-color: var(--color_yellow);
  color: var(--color_header);
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  /* font-weight: bold; */
  max-width: 100%;
  max-height: 28px;
  border: none;
  font-size: 1rem;
  display: block;
  margin: 30px auto;
}

.cta:hover {
  background: #eebc6c;
}

/* header, footer */
header,
footer {
  background: var(--color_header);
  color: var(--color_white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

footer {
  margin-top: 30px;
}

.header-right {
  /* border: solid lightgreen 2px; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  right: 8%;
  gap: 15px;
}

nav,
#search,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: absolute;
  top: 42px;
  left: 0px;
  /* padding: 5px; */
  background-color: var(--color_header);
  z-index: 100;
}

#hamburger-icon {
  order: -1;
  position: absolute;
  left: 10%;
}

nav a {
  display: block;
  color: var(--color_white);
  padding: 10px 15px;
  text-decoration: none;
}

nav a:hover {
  color: var(--color_yellow);
}

.logo {
  max-width: 120px;
  margin-top: 3px;
}

#current_page {
  text-decoration: underline;
}

.popular-searches {
  display: none;
}

#search:active ~ .popular-searches {
  display: block;
  position: absolute;
  top: 45px;
  background-color: var(--color_header);
  color: var(--color_white);
  z-index: 99;
  padding: 10px;
  width: 100%;
}

#search_icon:active ~ #search {
  display: block;
  background-color: var(--color_white);
  border: solid 2px var(--color_header);
}

.search-ex {
  text-align: right;
  font: size 0.8em;
  padding-top: 0%;
}

.social-media {
  display: flex;
  position: absolute;
  min-width: 80px;
  right: 10%;
  /* border: antiquewhite solid 2px; */
}

.social-media > * {
  max-width: 100%;
  min-height: 100%;
  flex: 1;
}

.form__input {
  display: block;
  margin-bottom: 10px;
}

.checkbox {
  margin-bottom: 20px;
}

fieldset {
  padding: 30px;
}
