/* global */

body {
  font: 18px var(--font_p);
  margin: 0 auto;
  color: var(--color_header);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10%;
  align-content: flex-start;
}

.main_column {
  max-width: 400px;
}

.breadcrumb {
  margin-top: 20px;
  grid-column: 1/3;
}

.breadcrumb a {
  text-decoration: none;
  color: grey;
  display: inline-block;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 1.6em;
  margin: 20px 0;
  grid-column: 1/3;
}

h2 {
  text-align: center;
  grid-column: -1/1;
  margin: 0 auto 30px auto;
  font-size: 1.3em;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0;
}

hr {
  grid-column: 1/4;
  width: 100%;
  margin: 20px auto;
  max-height: 2px;
  background: var(--color_subtle);
  border: solid var(--color_subtle) 2px;
}

/* images */
img {
  width: 100%;
}

.product_img {
  margin: 0 auto;
}

/* CTA button */
.cta {
  text-decoration: none;
  color: var(--color_header);
  border: none;
  background: var(--color_yellow);
  border-radius: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  display: block;
  margin: 10px auto;
  font-family: var(--font_h1);
}

/* .cta.sub {
  border: var(--color_blue) 4px solid;
} */

.cta:hover {
  background-color: #f8c973;
}

.cta.sub:hover {
  background-color: #186a99;
  color: var(--color_white);
}

.cta.form {
  width: 100%;
}

.cta.back {
  grid-column: 1/3;
}

/* header, footer */
header,
footer {
  background: var(--color_header);
  color: var(--color_white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

footer {
  margin-top: 30px;
  font-size: 18px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  right: 8%;
  gap: 15px;
}

.log-in,
.my-bag {
  font-size: 1.2em;
  color: var(--color_white);
}

nav,
#search,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: absolute;
  top: 42px;
  left: 0px;
  background-color: var(--color_header);
  z-index: 100;
}

#hamburger-icon {
  order: -1;
  position: absolute;
  left: 10%;
}

nav a {
  display: block;
  color: var(--color_white);
  padding: 10px 15px;
  text-decoration: none;
}
.log-in:hover,
.my-bag:hover,
nav a:hover {
  color: var(--color_yellow);
}

.logo {
  max-width: 120px;
  margin-top: 3px;
}

#current_page {
  text-decoration: underline;
}

.popular-searches {
  display: none;
}

#search:active ~ .popular-searches {
  display: block;
  position: absolute;
  top: 45px;
  background-color: var(--color_header);
  color: var(--color_white);
  z-index: 99;
  padding: 10px;
  width: 100%;
}

#search_icon:active ~ #search {
  display: block;
  background-color: var(--color_white);
  border: solid 2px var(--color_header);
}

.search-ex {
  text-align: right;
  font-size: 0.8em;
  padding-top: 0%;
}

.social-media {
  display: flex;
  position: absolute;
  min-width: 80px;
  right: 10%;
  /* border: antiquewhite solid 2px; */
}

.social-media > * {
  max-width: 100%;
  min-height: 100%;
  flex: 1;
}

/* form */

form {
  border: var(--color_subtle) solid 2px;
  margin-bottom: 20px;
  padding: 20px;
}

.form__input {
  display: block;
  margin-bottom: 10px;
  border-style: solid;
  width: 100%;
  min-height: 23px;
}

.checkbox {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

/* order_summary */

#product_name {
  margin-bottom: 10px;
  grid-column: 1/3;
}

#bin {
  color: var(--color_header);
  font-size: 18px;
  grid-column: 3;
  text-align: right;
  margin-bottom: 10px;
}

.order_summary {
  padding: 20px;
  border: var(--color_subtle) 2px solid;
}

/* .order_summary h3 {
  margin: auto 0;
  grid-column: 1;
}

.order_summary p {
  grid-column: 2/4;
  margin: auto 0;
} */

/* my bag page */

.order_summary.my_bag {
  grid-row: 3/5;
  margin-bottom: 0;
}

.product_img.my_bag {
  max-width: 70%;
  margin: 20px auto;
}

.cta-wrapper {
  grid-column: 2;
}

/* cart */
.cart {
  border: 3px solid var(--color_header);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 200px;
  right: 50px;
  top: 50px;
  background-color: #fff;
  padding: 20px;
  display: none;
}

.cart-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.cart-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--color_subtle);
}

.cart-item-wrap {
  display: flex;
}
.checkout-button {
  background-color: var(--color_yellow);
  color: var(--color_header);
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px auto;
  font-size: 1em;
}

.total {
  /* padding: 5px 0; */
  /* margin: auto; */
  text-align: right;
  font-weight: bold;
  font-size: 1em;
}

.price {
  font-weight: bold;
}

.product-name {
  text-decoration: underline;
}
